php_flag display_errors on
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

RewriteEngine On

RewriteRule ^tasks/([0-9]+)$ controller/task.php?taskid=$1 [L]
RewriteRule ^tasks/complete$ controller/task.php?completed=Y [L]
RewriteRule ^tasks/complete/page/([0-9]+)$ controller/task.php?completed=Y&page=$1 [L]
RewriteRule ^tasks/incomplete$ controller/task.php?completed=N [L]
RewriteRule ^tasks/incomplete/page/([0-9]+)$ controller/task.php?completed=N&page=$1 [L]
RewriteRule ^tasks$ controller/task.php?completed=all [L]
RewriteRule ^tasks/page/([0-9]+)$ controller/task.php?completed=all&page=$1 [L]
RewriteRule ^tasks(.*)$ controller/task.php [L]

RewriteRule ^users$ controller/user.php [L]

RewriteRule ^sessions/([0-9]+)$ controller/session.php?sessionid=$1 [L]
RewriteRule ^sessions$ controller/session.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ controller/notfound.php [L]
